version: '3'

services:
  wireguard:
    extends:
      file: wireguard/compose.yml
      service: wireguard

  minio:
    extends:
      file: minio/compose.yml
      service: minio

  minio-init:
    extends:
      file: minio/compose.yml
      service: minio-init
    depends_on:
      - minio

  nginx:
    extends:
      file: nginx/compose.yml
      service: nginx
    depends_on:
      - minio
      - wireguard
  
  blockchain:
    extends:
      file: blockchain/compose.yml
      service: blockchain
        
  thumbnail:
    extends:
      file: thumbnail/compose.yml
      service: thumbnail
    depends_on:
      - minio
      - blockchain

  prometheus-exporter:
    extends:
      file: prometheus-exporter/compose.yml
      service: prometheus-exporter
    depends_on:
      - blockchain

volumes:
  minio_data:
  wireguard_config: